body{
  background: #ccc;
}
main{
  width: 100%;
  height: auto;
}
header{
  width: 100%;
  height: 40vh;
  background: #000;
}
.produtos{
  width: 100%;
  height: 50vh;
  background: #F00;
}
.destaque{
  width: 100%;
  height: 50vh;
  background: #0F0;
}
footer{
  width: 100%;
  height: 20vh;
  background: #00F;
}  